<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сумка. Детали</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <div th:insert="fragment/header :: header"
         style="position: sticky; top:0; z-index: 3"></div>
</head>

<style>
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 170px);
        grid-template-rows: repeat(6, auto);
    }

    .grid > * {
        margin: 1px;
    }

    a {
        text-decoration: none
    }
</style>

<body class=" text-center text-bg-light">
<main class="col-md-5 mx-auto pt-5">
    <form th:object="${delivery}" method="post"
         class="row rounded-4 border border-dark text-start p-5 bg-white">

        <div class="col grid">
            <div class="grid" th:each="bagList: ${delivery.bags}">
                <div>
                    <img alt="photoBag" class="img-thumbnail rounded" th:src="${bagList.getImage()}"></br>
                    <label th:text="${bagList.purchase.getModel()}"></label><br>
                    <label th:text="${bagList.price}+' P'"></label>
                </div>
            </div>
        </div>
        <br/>

        <div class="feature col">
            <input name="id" readonly th:field="*{id}" th:value="*{id}" type="hidden"><br/>
            <h4 th:text="'Имя: '+*{user.name}"
                class="display-1 fw-bold pb-6"></h4>
            <h4 th:text="'Адрес: '+*{address}"></h4>
            <p th:text="'День доставки: '+*{day}"></p>
            <p th:text="'Период: '+*{period}"></p>
            <p th:text="'Тип доставки: '+*{type}"></p>
            <p th:text="'Способ оплаты: '+*{payment}"></p>

            <div class="form-floating">
                <select class="form-select form-select-lg border-dark fw-light" id="listStatus" name="listStatus"
                        style="height:60px">
                    <div th:each="element : ${status}">
                        <option th:text="${element}"></option>
                    </div>
                </select>
                <label for="listStatus">Статус</label>
            </div>
            <br/>
            <input class="btn btn-dark" type="submit" value="Изменить"><br/>
        </div>
    </form>
</main>
</body>
</html>