<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Доставка. Изменение</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" rel="stylesheet">
    <div style="position: sticky; top:0; z-index: 3"
         th:insert="fragment/header :: header"></div>
</head>
<style>
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 170px);
        grid-template-rows: repeat(6, auto);
    }

    .grid > * {
        margin: 1px;
    }

    a {
        text-decoration: none
    }
</style>
<body class=" text-center text-bg-light">
<main class="col-md-11 mx-auto">
    <h1 class="text-center">Изменение доставки</h1>
    <form class="row" method="post" th:object="${delivery}">

        <div class="col grid">
            <div class="grid" th:each="bagList: ${delivery.bags}">
                <div>
                    <img alt="photoBag" class="img-thumbnail rounded" th:src="${bagList.getImage()}"></br>
                    <label th:text="${bagList.purchase.getModel()}"></label><br>
                    <label th:text="${bagList.price}+' P'"></label>
                </div>
            </div>
        </div>
        <br/>

        <div class="col-md-6 mx-auto">
            <input name="id" readonly th:field="*{id}" th:value="${id}" type="hidden"><br/>

            <div  class="text-start">
                <p id="name" th:text="*{user.name}"></p>
                <p id="address" th:text="*{address}">
                <p id="day" th:text="*{day}">
                <p th:text="*{period}"></p>
                <p th:text="*{payment}"/>
            </div>
            <div class="form-floating">
                <select class="form-select form-select-lg border-dark fw-light" id="listStatus" name="listStatus"
                        style="height:60px">
                    <div th:each="element : ${status}">
                        <option th:text="${element}"></option>
                    </div>
                </select>
                <label for="listStatus">Статус</label>
            </div>
            <br/>
            <input class="btn btn-dark" type="submit" value="Изменить"><br/>
        </div>
    </form>
</main>
</body>
</html>