<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Доставка</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <div th:insert="fragment/header :: headerOrder"></div>
    </head>

    <style>
        .grid {
            display: grid;
            grid-template-columns: repeat(5, 300px);
            grid-template-rows: repeat(5, auto);
        }
        .grid > * {
            margin: 1px;
        }
        a{
            text-decoration: none
        }
    </style>

    <body class="text-bg-light">
    <main class="col-md-11 mx-auto">
        <h1 class="text-center">Заказ</h1>
        <div class="col-md-2 mx-auto">
            <a href="/order/add"  class="btn btn-dark">Добавить</a>
        </div></br>

        <div class="grid">
            <div th:each="el : ${listDelivery}">
                <a th:href="'/order/details/'+${el.id}" class="link-dark fw-normal">
                    <div>
<!--                        <p th:text="${el.}"></p>-->
                        <p th:text="${el.type}" class="lh-1 fs-4 fw-bold ps-2 pt-2"></p>
                        <p th:text="${el.status}"></p>
                        <p th:text="${el.user.getName()}"></p>
                        <p th:text="${el.day}"></p>
                    </div>
                </a>
            </div>
        </div>
    </main>
    </body>
</html>