<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Статистика</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <div th:insert="fragment/header :: header"></div>
</head>
<body class="text-center text-bg-light">
<main class="col-md-11 mx-auto ">
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript">window.onload = function () {
        var dataPoints = [];
        var chart = new CanvasJS.Chart("chartContainer", {
            title: {
                text: "Статистика "
            },
            data: [{
                type: "pie",
                dataPoints: dataPoints,
            }]
        });
        $.getJSON("http://localhost:8080/admin/api/brand/", function (data) {
            $.each(data, function (key, value) {
                console.log(value);
                dataPoints.push({label: (value.name), y: parseInt(value.brand)});
            });
            chart.render();
        });
    }
    </script>
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>

    <div>
        </br>
        <h3 class="fw-light "></h3>
        <form method="post">
            <h2>Создать Back Up базы данных</h2>
            <button class="btn btn-dark btn-lg">Создать</button>
        </form>
    </div>
</main>
</body>
</html>